annotated-types==0.7.0
anyio==4.9.0
blinker==1.9.0
click==8.2.1
dotenv==0.9.9
fastapi==0.115.14
Flask==3.1.1
Flask-Session
flask-cors==3.0.10
greenlet==3.2.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.1
pandas==2.3.1
pyarrow==19.0.1
pydantic==2.11.7
pydantic_core==2.33.2
# pyldavis
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.31.0
scipy
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.46.2
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
Werkzeug==3.1.3
