version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: annotation_app
    ports:
      - "2095:2092"
    volumes:
      - .:/app
      - ../../data/models/filtering:/app/data/models/filtering
      - ../../data/source/corpus_rosie/passages:/app/data/source/corpus_rosie/passages