{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<section id="about">
  <div class="container">
    <h2>About Us</h2>
    <p>We are a team of researchers and developers 
    committed to addressing the growing challenge of misinformation online. 
    Our mission is to create tools that improve transparency, restore trust in information, 
    and support the global effort to combat disinformation.</p>

    <p>This application was developed as part of MIND's discrepancy detection initiative at Universidad Carlos III de Madrid (UC3M),
     in collaboration with the University of Maryland (UMD) . 
     It is designed to detect discrepancies and knowledge gaps between different language versions
     of Wikipedia, helping highlight cultural biases and blurred boundaries between factual truth 
     and cultural interpretation.</p>

    <p>Our vision is to provide fact-checkers, researchers, and QA systems with more reliable databases and automated tools that streamline the process of validating information. By doing so, we aim to contribute to a more transparent and trustworthy digital information ecosystem.</p>

    <!-- <p>If you'd like to learn more about our work or collaborate with us, please contact us at <a href="mailto:[your-email@example.com]">[your-email@example.com]</a>.</p> -->
  </div>
</section>
{% endblock %}